

#heading{
  text-align: center;
  color: white;
  background-color: #1B607A;
  font-family: 'Aladin';font-size: 30px;

}


#footer{
  text-align: center;
  color: white;
  background-color: #1B607A;
  font-family: 'Aladin';font-size: 20px;

}


#intro{
  text-align: center;
  font-family: 'Aladin';font-size: 30px;
}

#content{
  font-family: 'Baumans'; font-size:20px;
}

#contentWork{
  font-family: 'Baumans'; font-size:20px;
}

#contentSkills{
  font-family: 'Baumans'; font-size:20px;
  text-align: left;
}

#contentInfo{
  font-family: 'Baumans'; font-size:20px;
  color: whitesmoke;
}

#contentContactInfo{
  font-family: 'Baumans'; font-size:25px;
  color: whitesmoke;
  text-align: left;
}


* {
	box-sizing: border-box;
}

.card {
  position: relative;
	width: 340px;
	text-align: center;
	margin: 80px auto 0;
	padding: 1.5em;
	background: #1B607A;
  border-radius: 5px;
  box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
}
.logo {
  position: absolute;
  top: -45px;
  left: 125px;
	width: 90px;
}

.flex-container{
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
   
}



.flex-item2{
 position: relative;
width: 340px;
text-align: center;
margin: 80px auto 0;
padding: 1.5em;
background: #1B607A;
border-radius: 5px;
box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);

}


.flex-item3{
  position: relative;
 width: 540px;
 text-align: center;
 margin: 80px auto 0;
 padding: 1.5em;
 background: #1B607A;
 border-radius: 5px;
 box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
 
 }

 .button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

input{
  width: 300px;
  height: 50px;
}

nav{
  text-align: center;
  background-color: #1B607A;
  line-height: 2;
}

a:link{
  color: whitesmoke;
  font-family: 'Aladin'; font-size: 22px;
  text-decoration: none;
  
}

body {
	color: #222;
	font-family: 'Varela Round', sans-serif;
	line-height: 1.5;
	background-image: url('BackG1.jpg');
}
h2 {
	color: whitesmoke;
	font-size: 1.6em;
	margin-top: 1.85em;
	margin-bottom: 0;
}

h3{
  color: whitesmoke;
  font-size: 30px;
	margin-top: 1.85em;
  margin-bottom: 0;
  text-align: left;
}

h4{
  color: black;
	margin-top: 1.85em;
  margin-bottom: 0;
  text-align: center;
  font-family: 'Bungee Shade';font-size: 35px;
}

h5{
  color: black;
  font-family: 'Bungee Shade';font-size: 35px;
}

ul{
  display:flex;
  padding: 0;
  list-style-type: none;
  font-size:10px;
  margin:0;
}
li{
  margin: auto;
}
p {
	margin-bottom: 0;
	font-size: 15px;
}

div{
  background-color: #1B607A;
}

header1{
  background-color: #1B607A;
}

@media screen and (max-width: 600px)
{
  .flex-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: center;
}


  
}
